/*-- scss:defaults --*/
$link-color: #f21a98;
$danger: #f21a98;

/*-- scss:rules --*/
.primary-links a{
  color: $primary;
}

.btn-social {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  line-height: 28px;
  padding: 6px;
}