

@font-face {
	font-family: 'Monte';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;  
}



html{
	font-family: 'Source Sans Pro','Monte',Arial;
	
}

body {
	overflow: hidden;
	font-size: 14px;
	font-family: 'Source Sans Pro',"Monte", Sans-Serif,"Lucida Console","Lucida Grande", Helvetica, Arial;
}

a {
	color: #00b7FF;
}

.info {
	text-align:right; 
	position:absolute; 
	top:0; right:0; 
	padding:4px; 
	color:#05E28E;
	cursor: pointer;
	background-color: #eee;
}
.center{
	text-align: center;
}


.logo{
	cursor:pointer !important;
}

#addmedio{
	transition:all 0.2s ease-in;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
}
#addmedio:hover {
	cursor: pointer;
	color:#05E28E;
}

.inputs{
	width:50px;
	
	font-family: 'Source Sans Pro','Monte', 'Sans-Serif';
	margin-left: 5px;
	font-size: 1.2em;
	font-weight: normal;

}
.inputs:focus, .inputs:active{
	outline: #05E28E;

}

input{
	    box-shadow: 0px 0px 0px 2px transparent;
	font-size: 1.2em;
	border:1px solid transparent;
	    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}
input:active, input:focus{
	box-shadow: #05E28E;
	outline: #05E28E;
	border:1px solid #05E28E;
}

#arriba{

	font-size:22px;
	vertical-align: middle;
	display: inline-block;
	white-space: nowrap;
	right:0;
	left:0;
	background-color: #444;
	top:0;
	width:100%;
	position:fixed;
	/*width:100%;*/
	color:#ccc;
	height:60px;
	z-index:994;
	
}

.trash{
	
	text-align: right;
	margin-right:25px;
	transition:all 0.2s ease-in;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
}
.trash:hover{
	color:#05E28E;

}

.trashi:hover{
	cursor:pointer;

}

.barra{
	margin:3px;
	text-align: center;
	padding-left:40px;
	padding-right:30px;
	vertical-align: middle;
	line-height: 60px;
}

.logo{	position:fixed;
	height:40px;
	vertical-align: middle;
	z-index: 996;

}


#modal{
	 z-index:999 !important; 
	 position:fixed; 
	 background-color:#ddd; 
	 border:10px solid #555;
	 top:5%; bottom:5%; left:5%; right:5%; 
	 display:none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y:auto;
    overflow-x:hidden;
    font-weight: normal;
    font-size: 18px;
}


.barra2{
	margin:3px;
	text-align: center;
	padding-left:40px;
	padding-right:30px;

	line-height: 60px;

}
.barra:hover{
	color:#05E28E;
}

#doe{
	width:100%;
	border:4px solid #ddd;
}

a{
	text-decoration: none;
	color:inherit;
}

td,th{
	padding:10px;
	border:none;
	text-align: center;
}


.cabecera{


	background-color:#ddd;
	
}

.fila{
	background-color:  #fafafa;


}

.about{
	max-width: 90%;
	margin:3%;
	margin-bottom: 4px;
}

#error{
	max-width: 70%;
}

.lang{
	margin:4px;}	

.ab{
display:inline-block;
text-align: center;}

.abcont{
text-align: center;
/*display:inline-block;*/
}

.caja{
width:60px;
outline-color: #05E28E;
}

.bloque{
margin:20px;
text-align: center;
}

.rem, .caja{
margin:5px;
}
#sss {
font-size: 14px;
font-family: 'Source Sans Pro',"Monte","Lucida Console","Lucida Grande", Helvetica, Arial, sans-serif;
border:none;
-webkit-border-radius: 28;
-moz-border-radius: 28;
border-radius: 28px;
color: #ffffff;
background: #333;
padding: 10px 20px 10px 20px;
text-decoration: none;
outline:none;
}

#sss:hover {
background: #05E28E;
text-decoration: none;
outline:none;
}

#mini:hover{
transform:scale(1.2);  

}

#gris{
color:#777;
}

::-moz-selection{
background-color:rgb(7,226,142);

}
::selection{

background-color:rgb(7,226,142);
}

#welcome{
/*width:150px;*/
max-height: 90vh;
}
.ab{
font-size: 16px;
display: inline-block;
vertical-align: top;
max-width:90%;
}

.all{
text-align: center;
left:0px;
right:8px;
position:absolute; /* to place it somewhere on the screen */
top:0px;
bottom:0px;} /* makes it lock to the bottom */

#myCanvas{
	font-size: 18px;
	font-family: "Source Sans Pro", "Monte", "Lucida Console", Arial, Sans-Serif;
}

.bl{
	border-radius: 0px 0px 0px 15px;
}

.br{
	border-radius: 0px 0px 15px 0px;
}

.tr{
	border-radius: 0px 15px 0px 0px;
}

.tl{
	border-radius: 15px 0px 0px 0px;
}


#welcomeno:hover{
	/* Webkit for Chrome and Safari */
	-webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: ease-out;

	/* Webkit for Mozila Firefox */
	-moz-transform: scale(1.2, 1.2);
	-moz-transition-duration: 500ms;
	-moz-transition-timing-function: ease-out;

	/* Webkit for IE( Version: 11, 10 ) */
	-ms-transform: scale(1.20, 1.20);
	-ms-transition-duration: 500ms;
	-ms-transition-timing-function: ease-out;
}

#welcomeno {
	/* Webkit for Chrome and Safari */
	-webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: ease-out;

	/* Webkit for Mozila Firefox */
	-moz-transform: scale(1, 1);
	-moz-transition-duration: 500ms;
	-moz-transition-timing-function: ease-out;

	/* Webkit for IE( Version: 11, 10 ) */
	-ms-transform: scale(1, 1);
	-ms-transition-duration: 500ms;
	-ms-transition-timing-function: ease-out;
}


.barra3{
	margin:3px;
	text-align: center;
	padding-left:20px;
	padding-right:10px;
	vertical-align: middle;
	line-height: 60px;
	display:none;
}

@media screen and (max-width: 700px) {
	#arriba {
		font-size:12px;
		vertical-align: middle;
		display: inline-block;
		white-space: nowrap;
		right:0;
		left:0;
		background-color: #444;
		top:0;
		position:fixed;
		width:100%;
		color:#ccc;
		height:60px;  

	}

	td, th{
		font-size: 0.5em;
		padding:-2px;
	}
	.barra{
		margin:3px;
		text-align: center;
		padding-left:20px;
		padding-right:10px;
		vertical-align: middle;
		line-height: 60px;
		display:none;
	}
	.barra3{
		display:inline-block;
		margin:3px;
		text-align: center;
		padding-left:20px;
		padding-right:10px;
		vertical-align: middle;
		line-height: 60px;
	}
	.logo{
		height: 30px;
		vertical-align: middle;
	}
	.barra2{
		display:none;
	}

	solo{display:none;}
	#welcome{max-height: 20em}
}

/*
#arriba{position:absolute;

}
body{position:absolute; margin:0;padding:0;top:0;}*/

.lateral{
	overflow:hidden;
	position: fixed;
	top:0;
	left:0;
	width:0;
	background-color: #eeeeee;
	border-right: 4px solid #ccc;
	bottom:0;
	z-index:995;
	transition:all 0.2s ease-in;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	float: left;
	overflow-y:auto;

}

.dentro{
	
	position:relative;
	display: block;
}

li.medium{
	background-color: #bbb;
	margin:5px 10px;
	padding:8px 5px;
	transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	height: 15px;
	white-space: nowrap;



}
li.medium span{

	float:left;
	position: relative;
	
	overflow: hidden;

}
li.medium span:last-child{
	float:right;

}

li.medium:hover{
	background-color: #c8c8c8;
	margin:5px 12px;
	padding:8px 5px;
}
table{
	margin: auto;
}
.leftmenu{

	list-style: none;
	margin: 0;
	padding: 0;
	/*white-space: nowrap;*/
	overflow: hidden;
}

@media screen and (min-width: 700px) {
	body{overflow-x:hidden;
	}

	#welcome, .lista, form, .center, canvas, .abcont {

		animation-duration: 1.6s;
		transition-timing-function: ease-in-out;
		animation-fill-mode: both;
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;
	}

	#welcome,  .lista, form, .center, .abcont{
		animation-name: fadeIn;

	}

	canvas{
		animation-name:especial;
	}


	.m-scene.is-exiting .scene_element {
		animation-direction: alternate-reverse;
	}
}

/*
 * Keyframes
 */
 @keyframes fadeIn {
 	0% { opacity: 0; transform:scale(1.3);  }
 	100% { opacity: 1;transform:scale(1);  }
 }
 @keyframes especial {
 	0% { opacity: 0;  }
 	100% { opacity: 1;  }
 }




* {
	font-family: "Source Sans Pro";
}











